.cart-container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,.08);
}

.cart-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.cart-details {
  flex: 1;
}

.cart-actions {
  text-align: right;
}

.remove-btn {
  border: none;
  background: #ef4444;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.remove-btn:hover {
  opacity: 0.9;
}

.cart-summary {
  margin-top: 30px;
  text-align: right;
}

.checkout-btn {
  margin-top: 10px;
  border: none;
  background: #185ee0;
  color: white;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-btn:hover {
  background: #0f4cc0;
}

.empty-cart {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qty-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

.qty-control button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: #185ee0;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.qty-control span {
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}