.navbar {
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.tabs {
  display: flex;
  gap: 10px;
  background: white;
  padding: 8px;
  border-radius: 999px;
  box-shadow: 0 0 1px rgba(24,94,224,.15),
              0 6px 12px rgba(24,94,224,.15);
}

.tab {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 999px;
  transition: all .3s ease;
}

.tab:hover {
  color: #185ee0;
}

.tab.active {
  background: #e6eef9;
  color: #185ee0;
  transform: scale(1.05);
}

.welcome {
  padding: 10px 16px;
  font-weight: 600;
  color: #185ee0;
}

.logout-btn {
  border: none;
  background: #185ee0;
  color: white;
  padding: 10px 18px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #0f4cc0;
}

